@import "macchiato.css";


* {
  border: none;
  border-radius: 10px;
  font-family: "FiraCode Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding: 0 10px;
  border-radius: 10px;
  color: transparent;
  background: transparent;
}


.modules-left, .modules-center, .modules-right {
  margin: 6px 0 0 0;
}

#custom-launcher,
#workspaces,
#cpu,
#memory,
#clock,
#network,
#backlight,
#pulseaudio,
#battery,
#custom-power,
#tray {
  margin: 0 4px;
  padding: 0 10px;
  background: @base;
}

/* Modules left */
#custom-launcher {
  font-size: 18px;
  padding: 0 5px 0 10px;
  color: @blue;
}

#workspaces {
  font-size: 4px;
  padding: 0;
}

#workspaces button {
  color: @blue;
  background: transparent;
  font-size: 16px;
}

#workspaces button.active {
  color: @lavender;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @pink;
}

#cpu {
  color: @sky;
}

#memory {
  color: @mauve;
}

/* Modules center */
#clock {
  color: @teal;
}

/* Modules right */
#network {
  color: @sapphire;
}

#backlight {
  color: @mauve;
}

#pulseaudio {
  color: @flamingo;
}

#battery {
  color: @yellow;
}

#battery.charging, #battery.plugged {
  color: @teal;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @base;
    color: @text;
  }
}

#custom-power {
  font-size: 20px;
  padding: 0 5px 0 10px;
  color: @maroon;
}
